extends ../layouts/layout

block content
    .container-fluid
        .navbar.navbar-light.bg-light.fixed
            a.none(href="#")
                .logo
                    .icon_auteur_dms
                    label.label DSM


